{% from 'navbar.html' import navbar %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvest Haven</title>
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="./static/globals.css">
    <link rel="stylesheet" href="./static/store.css">
    <link rel="stylesheet" href="./static/admin.css">
    <!-- Script Tag -->
    <script src="./static/script.js" defer></script>
    <!-- Icons Link -->
    <script src="https://kit.fontawesome.com/6d232ec003.js" crossorigin="anonymous"></script>
</head>

<body>
    {{ navbar(session) }}

    <div class="page admin-page">
        <h1 class="title txt-ctr">User Statistics</h1>
    </div>
</body>

</html>