{% from 'navbar.html' import navbar %}
{% from 'footer.html' import footer %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvest Haven</title>
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="./static/globals.css">
    <link rel="stylesheet" href="./static/form.css">
    <!-- Script Tag -->
    <script src="./static/script.js" defer></script>
    <!-- Icons Link -->
    <script src="https://kit.fontawesome.com/6d232ec003.js" crossorigin="anonymous"></script>
</head>

<body>
    {{ navbar(session) }}

    <div class="page">

        <div class="admin-forms">
            <div class="form">
                <h1 class="title">Delete Item</h1>
                <h1 class="subtitle">** Note: The action cannot be revoked, think before deleting **</h1>

                <form action="?" method="post">
                    <div class="input-box">
                        <div class="input msg" id="{{msgColor}}">
                            {{msg}}
                        </div>
                    </div>

                    <div class="input-box">
                        <label 
                            for="p_id">
                            Select Item to be deleted
                        </label>

                        <select 
                            class="input"
                            name="p_id" 
                            id="p_id"
                            required>
                            <option value="">-- None --</option>
                            {% for item in allItems %}
                            <option value="{{item[0]}}">{{item[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-box">
                        <button 
                            class="form-btn"
                            type="submit">
                            Delete Item
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{ footer() }}
</body>

</html>