{% from 'navbar.html' import navbar %}
{% from 'footer.html' import footer %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvest Haven</title>
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="./static/globals.css">
    <link rel="stylesheet" href="./static/form.css">
    <!-- Script Tag -->
    <script src="./static/script.js" defer></script>
    <!-- Icons Link -->
    <script src="https://kit.fontawesome.com/6d232ec003.js" crossorigin="anonymous"></script>
</head>

<body>
    {{ navbar(session) }}

    <div class="page">

        <div class="admin-forms">
            <div class="form">
                <h1 class="title">Edit Category Name</h1>
                <h1 class="subtitle">** Category of all the items in the particular category will change **</h1>

                <form action="?" method="post">
                    <div class="input-box">
                        <div class="input msg" id="{{msgColor}}">
                            {{msg}}
                        </div>
                    </div>

                    <div class="input-box">
                        <label 
                            for="old_name">
                            Select Category Name to be changed
                        </label>

                        <select 
                            class="input"
                            name="old_name" 
                            id="old_name"
                            required>
                            <option value="">-- None --</option>
                            {% for i in range(categories|length) %}
                            <option value="{{categoryIDs[i]}}">{{categories[i]}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-box">
                        <label 
                            for="new_name">
                            New Name: 
                        </label>

                        <input 
                            class="input"
                            type="text" 
                            name="new_name" 
                            id="new_name" 
                            placeholder="Eg: Veg Aata Maggi"
                            autocomplete="off" 
                            required
                        >
                    </div>

                    <div class="input-box">
                        <button 
                            class="form-btn"
                            type="submit">
                            Edit Category
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{ footer() }}
</body>

</html>