{% macro footer() %}

<footer class="footer" id="footer">
    <div class="footer-sections">
        <div class="foot-section">
            <img
                class="footer-logo"
                src="../static/harvest-haven.png"
                alt="footer-logo"
            />
            <h1 class="txt-ctr">HARVEST <br> HAVEN</h1>
        </div>

        <div
            class="foot-section">
            <li class="heading">
                Blogs
            </li>

            <a href="#">Choosing Right</a>
            <a href="#">Quality Matters</a>
        </div>

        <div class="foot-section">
            <li class="heading">
                Store
            </li>
            
            <a href="/">View Store</a>
        </div>

        <div class="foot-section">
            <li class="heading">
                Social
            </li>
            
            <a href="/">Instagram</a>
            <a href="/">Youtube</a>
            <a href="/">Facebook</a>
            <a href="/">Twitter</a>
        </div>
    </div>
    <hr />
    <div class="below-footer-as">
        <div class="txt-ctr">
            @2023&nbsp;Harvest Haven, Mumbai 400-080 | All Rights Reserved
        </div>
    </div>
</footer>

{% endmacro %}