{% from 'navbar.html' import navbar %}
{% from 'footer.html' import footer %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvest Haven</title>
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="../static/globals.css">
    <!-- Script Tag -->
    <script src="../static/script.js" defer></script>
    <!-- Icons Link -->
    <script src="https://kit.fontawesome.com/6d232ec003.js" crossorigin="anonymous"></script>
</head>

<body>
    {{ navbar(session) }}

    <div class="page">
        <h1 class="title txt-ctr">Welcome to Harvest Haven</h1>
    </div>

    {{ footer() }}
</body>

</html>